<!DOCTYPE html>
<html>
<head>
    <title>Toy Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/toys">Toy Store</a>
    <div class="ml-auto">
        <a href="/logout" class="btn btn-outline-light btn-sm">Logout</a>
    </div>
</nav>
